*.aux

*.bbl
*.bcf
*.blg

*.idx
*.ilg
*.ind
*.log
*.out
*.pre
*.pdf
*.toc
*.run.xml
*.fdb_latexmk
*.fls


*.DS_Store

# latexmk backups after failed builds
*-SAVE-ERROR

# automatically-generated asymptote files
hypergeometric-*.asy
hypergeometric-*.tex
hypergeometric-*_0.pdf
